<div class="product-placeholder" style="width: 30%;background: #aee;height: 200px;margin: 20px 20px 0 0;overflow: hidden;position: relative;padding: 20px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
  <img src="{{ image_url }}" style="position: absolute;top: 0;left: 0;" />
  <div class="info" style="padding: 10px 20px 20px 10px; background: rgba(200, 200, 200, 0.7);position: relative;">
    <div class="title" style="position: relative;margin: 20px;color: #fff;font-size: 20px;">{{ title }}</div>
    <div class="title" style="position: relative;margin: 20px;color: #fff;font-size: 16px;">{{ description }}</div>
  </div>
</div>