<div id="product-listing-wrapper" class="product-listing-wrapper">
  <div class="filters">
    Filters go here
  </div>
  <div id="product-listing" class="products" style="display: flex;flex-wrap: wrap;" data-token="{{ token }}">
    <div class="product-placeholder" style="width: 30%;background: #eee;height: 200px;margin: 20px 20px 0 0;"></div>
    <div class="product-placeholder" style="width: 30%;background: #eee;height: 200px;margin: 20px 20px 0 0;"></div>
  </div>
  <div class="pagination">
    Pagination goes here
  </div>
</div>