<div id="product-details-wrapper" class="product-details-wrapper">
  <div class="products" >
    <div id="product-details" class="product-details-placeholder" style="display: flex;flex-wrap: wrap;">
      <div class="product-placeholder" style="width: 30%;background: #ca2c92;height: 200px;margin: 20px 20px 0 0;"></div>
    </div>
  </div>
</div>