<div class="filters" id="product-listing-filters">
  {{ filters }}
</div>
<div id="product-listing" class="products" style="display: flex;flex-wrap: wrap;">
    {{ products }}
</div>
<div class="pagination" id="product-listing-pagination">
  {{ pager }}
</div>
